.row{
    margin-left: 20px;
    margin-bottom: 20px;
}
::-webkit-scrollbar{
    display: none;
}
.movie_row{
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
}
.movies{
    width: 100%;
    object-fit: contain;
    margin-right: 20px;
    height: 200px;
    transition: 460ms;
}
.movies:hover{
    transform: scale(1.06);
} 
.movie_poster{
    height: 350px;
}